.ad-accordion {
  overflow: visible;

  .ad-accordionpanel {
    .ad-accordionheader,
    .ad-accordionheader-toggle-icon {
      transition: color 300ms;
    }

    .ad-accordionheader {
      background: $content-background;
      color: $white-text-color;
      border: 1px solid $p-card-border;
      border-radius: 0;
      position: relative;
      padding: 0 1em;
      height: 60px;
      transition: all 300ms;

      .ad-hexagon-rows-container {
        overflow: visible;
        top: -25px;
      }

      &:hover {
        border: 1px solid $primary-color;
      }
    }

    &:first-child {
      > .ad-accordionheader {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
      }
    }

    &:last-child {
      > .ad-accordionheader {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
      }
    }
  }
}
