.ad-accordion {
  overflow: visible !important;
  background: transparent !important;
}

.ad-accordion-tab-root {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

.ad-accordion-header {
  background: $content-background !important;
  color: $white-text-color !important;
  border: 1px solid $p-card-border !important;
  border-radius: 0 !important;
  position: relative;
  padding: 0 1em !important;
  height: 60px;
  transition: all 300ms;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  box-shadow: none !important;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.75em;
}

// ...existing code...
.ad-accordion-header:hover {
  border: 1px solid $primary-color !important;
  color: $primary-color !important;
}

.ad-accordion-tab-root:first-child .ad-accordion-header {
  border-start-start-radius: 0 !important;
  border-start-end-radius: 0 !important;
}

.ad-accordion-tab-root:last-child .ad-accordion-header {
  border-end-start-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.ad-accordion-icon {
  color: $white-text-color !important;
  transition: color 300ms;
  margin-right: 0 !important;
}

.ad-accordion-content {
  background: $content-background !important;
  color: $white-text-color !important;
  border: 1px solid $p-card-border !important;
  border-top: none !important;
  padding: 1em !important;
}

.ad-hexagon-rows-container {
  position: absolute;
  overflow: visible;
  top: -25px;
  left: 0;
  pointer-events: none;
}
