.ad-accordion {
  overflow: visible;

  .ad-accordionpanel {
    :global(.p-accordion-header-link) {
      background: $content-background;
      color: $white-text-color;
      border: 1px solid $p-card-border;
      border-radius: 0;
      position: relative;
      padding: 0 1em;
      height: 60px;
      transition: all 300ms;
      display: flex;
      align-items: center;
      text-decoration: none;
      box-shadow: none !important;

      :global(.p-accordion-toggle-icon) {
        margin-right: 0.75em;
        transition: color 300ms;
      }

      &:hover {
        border: 1px solid $primary-color;
        color: $primary-color;

        :global(.p-accordion-toggle-icon) {
          color: $primary-color;
        }
      }
    }

    .ad-hexagon-rows-container {
      position: absolute;
      overflow: visible;
      top: -25px;
      left: 0;
      pointer-events: none;
    }

    &:first-child {
      :global(.p-accordion-header-link) {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
      }
    }

    &:last-child {
      :global(.p-accordion-header-link) {
        border-end-start-radius: 0;
        border-end-end-radius: 0;
      }
    }

    :global(.p-accordion-content) {
      background: $content-background;
      color: $white-text-color;
      border: 1px solid $p-card-border;
      border-top: none;
      padding: 1em;
    }
  }
}
