@import "../../atom/input-text/index.module";

.ad-password {
  .ad-inputtext {
    width: 100%;

    @extend %ad-inputtext;
  }
}

/* stylelint-disable */
.ad-password-overlay {
  .ad-password-criteria {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    .ad-password-criterion {
      padding: 4px 0;
      font-size: 14px;

      &.valid {
        color: #10b981;
        font-weight: bold;
      }

      &.invalid {
        color: #ef4444;
        font-weight: bold;
      }
    }
  }
}

#password_confirmation_panel {
  .p-password-meter,
  .p-password-info {
    display: none;
  }
}
