@import '../../atom/input-text/index.module';

.ad-password {
  display: inline-flex;
  position: relative;
}

.ad-password-input {
  width: 100%;

  @extend %ad-inputtext !optional;
}

.ad-password-panel {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  backdrop-filter: blur(0.25em);
  padding: 1.25rem;
}

.ad-password-meter,
.ad-password-info {
  background: transparent !important;
  padding: 0 !important;
  margin-bottom: 0.5rem !important;
  color: $white-text-color !important;
}

.ad-password-criteria {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.ad-password-criterion {
  padding: 4px 0;
  font-size: 14px;
  color: $white-text-color;
}

.valid {
  color: #10b981 !important;
  font-weight: bold;
}

.invalid {
  color: #ef4444 !important;
  font-weight: bold;
}

.hidden {
  display: none !important;
}
