.ad-accordion {
  overflow: visible;

  .ad-accordionpanel {
    .ad-accordionheader,
    .ad-accordionheader-toggle-icon {
      transition: color 300ms;
    }

    .ad-accordionheader {
      &:not([data-p-highlight="true"]) {
        .ad-accordionheader-toggle-icon {
          transform: rotate(90deg);
        }
      }

      &[data-p-highlight="true"] {
        .ad-accordionheader-toggle-icon {
          transform: rotate(-180deg);
        }
      }

      &-action {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: $content-background;
        color: $white-text-color;

        &:hover {
          border: 1px solid $primary-color;
        }
      }

      .ad-hexagon-rows-container {
        overflow: visible;
        top: -25px;
      }

      &-toggle-icon {
        margin-right: 0;
      }
    }
  }
}
