.ad-button {
  display: flex;
  justify-content: center;
  transition: all 0.5s;

  :global(.p-button-label) {
    font-family: Nunito, sans-serif;
    font-weight: 600;
  }

  &.rounded-button {
    border-radius: 2em !important;
  }

  &.mobile-button {
    display: flex;
  }

  &.desktop-button {
    display: none;
  }

  &.data-table-button {
    height: 34px;
    width: 34px;
    padding: 0;
  }

  @media (min-width: $lg) {
    &.mobile-button {
      display: none;
    }

    &.desktop-button {
      display: flex;
    }
  }
}
