@mixin entity-password-styles($c, $box-shadow-color) {
  &:hover {
    border-color: $c;
  }

  &:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0.5em $box-shadow-color;
    border-color: $c;
  }
}
