.entity-chart-card {
  .p-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .p-chart {
      width: 100%;
      min-height: 480px;
      transition: 0.2s 0.15s opacity;
    }
  }

  .chart-loading {
    opacity: 0;
  }

  .chart-loaded {
    opacity: 1;
  }

  .annual-chart {
    min-height: 600px;
  }
}
