.ad-terminal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: none;
  border: none;
  font-size: 1em;
  background-color: $p-card-background;
  color: $white-text-color;

  @media (min-width: $md) {
    padding: 0.5em 0.75em;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.ad-terminal-command {
  width: 100%;
}

.ad-terminal-response {
  color: var(--main-item-color-user);
  flex-basis: 100%;
  width: 100%;
}
