.ad-textarea {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
  padding: 5px 10px !important;
  min-height: 100px !important;
  max-height: 400px !important;
}
