.ad-card {
  background: $p-card-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;

  :global(.p-card-title),
  :global(.p-card-subtitle),
  :global(.p-card-content) {
    color: inherit;
  }
}
