.modules-settings-options-dialog {
  width: 100%;
  max-width: 450px;

  .p-dialog-content {
    padding-bottom: 0.5em;

    p {
      margin: 0;
    }
  }

  .p-dialog-footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}
