.ad-card {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.ad-card-content {
  display: flex;
  flex-direction: column;

  .ad-card-text {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
