.ad-inputtext,
%ad-inputtext {
  height: 41px;
  background: $p-card-background;
  border: 1px solid $p-card-border;
  box-shadow: 0 0 0 .5rem transparent;
  color: $white-text-color;
  font-size: 1em;
}
