.ad-tile {
  height: 8em;
  width: 100%;
  flex: 1 1 calc(50% - 0.3em);
  max-width: calc(50% - 0.3em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.35em;
  min-width: 150px;
  padding: 1em;
  text-decoration: none;
  background: $p-card-background;
  border: 1px solid $p-card-border;
  transition: all 300ms;
  
  &:hover {
    color: var(--p-card-color);
  }

  .secondary {
    display: flex;
    gap: 0.25em;

    p {
      font-size: 0.7em;
      margin: 0;
      color: $primary-white-text-color;
    }

    .count {
      color: $primary-color;
    }
  }

  .general {
    display: flex;
    justify-content: space-between;
    gap: 1.65em;

    .info {
      display: flex;
      flex-direction: column;

      .header {
        color: $primary-white-text-color;
        margin: 0;
        font-size: 0.9em;
      }

      .count {
        font-size: 1.1em;
        font-weight: 500;
        color: $primary-white-text-color;
      }
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.2em;
      height: 2.2em;
      border-radius: 0.25em;
      padding: 0;

      .icon {
        font-size: 1.5em;
      }
    }
  }

  @media (min-width: 360px) {
    .secondary {
      p {
        font-size: 0.9em;
      }
    }
  }

  @media (min-width: 500px) {
    max-width: 250px;
  }

  @media (min-width: $md) {
    height: 8.5em;
    flex: 1 1 calc(33.33% - 0.35em);
  }

  @media (min-width: $xl) {
    height: 9em;
    flex: 1 1 calc(25% - 0.35em);
  }
}
