.ad-popover {
  display: block !important;
  position: fixed !important;
  top: unset !important;
  left: unset !important;
  right: 0.5em;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 0;
  overflow: hidden;
  margin: 0 !important;

  &.top,
  &.right,
  &.left {
    bottom: 0.5rem;
  }

  &.bottom {
    bottom: 5rem;
  }

  &::before,
  &::after {
    display: none !important;
  }

  @media (max-width: $lg) {
    right: 0;

    &.bottom {
      bottom: 0;
    }
  }

  @media (min-width: $lg) {
    height: 300px;
    max-width: 450px;
    margin-left: 3px;
  }
}

.ad-popover-toggle {
  z-index: 99;
  height: 2.5rem;
  border-radius: 1.75rem;
  border: 1px solid $p-card-border !important;
  background: $p-card-background !important;
  backdrop-filter: blur(1em);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: all 300ms;
  padding: 0.5em !important;
  color: $white-text-color !important;
  font-size: 1.25em !important;

  :global(.iconify) {
    transition: all 300ms;
    color: $white-text-color !important;
  }

  &:active {
    transform: scale(0.9);
  }

  &:active,
  &:hover {
    border: 1px solid var(--main-item-color-user) !important;
    color: var(--main-item-color-user) !important;

    :global(.iconify) {
      color: var(--main-item-color-user) !important;
    }
  }

  @media (max-width: $lg) {
    z-index: 101;
  }

  @media (min-width: $lg) {
    padding: 0.25em 1em !important;
    font-size: 1em !important;
  }
}
