.ad-dialog {
  background: $content-background !important;
  border: 1px solid $p-card-border !important;
  color: $white-text-color !important;
  backdrop-filter: blur(0.5em);

  &-mask {
    padding: 0 10px;
  }

  &-header {
    padding: 1.125rem 1.5rem 0.5rem;

    h2 {
      margin: 0;
    }
  }

  &-content {
    padding: 20px;
  }

  &-header-icon {
    display: none;
  }

  &-footer {
    padding: 20px;
  }
}

