@import '../select';

.ad-datatable {
  min-height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s 0.15s opacity;

  .ad-datatable-row {
    cursor: pointer;
  }

  tr[data-p-index] {
    &:nth-child(even) {
      background: $p-card-background;
    }

    &:nth-child(odd) {
      background: $content-background;
    }
  }
  
  tr {
    > th {
      background: $bg-black-color;
      padding: 9px !important;
    }

    > td {
      padding: 6px 9px !important;
    }
  }

  .ad-datatable-paginator-bottom {
    border: 0;

    .ad-datatable-paginator {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: transparent;
      position: relative;
      font-size: $font-size-sm;
      width: 100%;
      padding: 20px 0;
      margin: -.5em 0 -2.125em;    

      &-content {
        display: flex;
        gap: 8px;
      }

      &-first,
      &-prev,
      &-next,
      &-last {
        min-height: $min-max-width-height-small;
        min-width: $min-max-width-height-small;
        max-height: $min-max-width-height-small;
        max-width: $min-max-width-height-small;
      }
    }

    .ad-select {
      display: flex;
      align-items: center;
      padding: 0 0.75em;
      margin-left: 0.75em;
      gap: 1em;
    }
  }
}
